
body {
    position: relative;
    font-size: 1.6rem;
}

.alert {

    margin-top: 6rem;
    padding: 3rem 1.5rem;
    border-radius: 8px;
    color: white;
    background-color: var(--color-purple);
    text-align: center;
    text-transform: uppercase;
    
}

.navigatorBox {
position: fixed;
width: 100%;
    top: 90%;
    
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 2.5rem;
    
    
    justify-content: center;
    
}

.navigator {
    padding: 2rem 2.5rem;
    border-radius: 4rem;
    border: none;
    color: white ;
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
    transition: box-shadow .2s;
}

.navigator:active {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
}

.navigator--prev {
   background-image: linear-gradient(to right, rgb(131,23,220), rgb(198, 11, 216));
  
}

.navigator--next {
    background-image: linear-gradient(to right, rgb(81, 194, 156), rgba(0, 125, 250, 0.972));

}

.glowPrev {
    animation-name: glowPrev;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
} 

.glowNext {

    animation-name: glowNext;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}


@keyframes glowPrev {

    0% {
    }
       

  

    100% {
        box-shadow: 1rem 1rem 3rem rgba(131,23,220), 
        -1rem -1rem 3rem  rgb(198, 11, 216),
        1rem -1rem 3rem rgba(131,23,220),
        -1rem 1rem 3rem  rgb(198, 11, 216);
    }
    
}

@keyframes glowNext {

    0% {
    }
       

  

    100% {
        box-shadow: 1rem 1rem 3rem rgb(81, 194, 156), 
        -1rem -1rem 3rem  rgba(0, 125, 250, 0.972),
        1rem -1rem 3rem rgba(0, 125, 250, 0.972),
        -1rem 1rem 3rem  rgb(81, 194, 156);
    }
}








/*  Animation */

.HERO-enter {

    transform: translateX(-1000px);
}

.HERO-enter-active {

    transform: translateX(0);
    transition: all 1s cubic-bezier(0.37, 0, 0.63, 1);
}



.HERO-exit-active {

    transform: translateY(-100rem);
    transition: all .5s cubic-bezier(0.37, 0, 0.63, 1);
    position: absolute;
  
}

.DETAILS-enter {
   
    transform: translateY(100rem);
  
    
}
.DETAILS-enter-active {

    transform: translateY(0);
    transition: transform 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.DETAILS-exit-active {

    transform: scale(.2);
    transition: all .5s cubic-bezier(0.37, 0, 0.63, 1);
    position: absolute;
  
}


.FEATURES-enter {

    transform: translateX(-1000px);
    
}

.FEATURES-enter-active {

    transform: translateX(0);
    transition: transform .2s cubic-bezier(0.87, 0, 0.13, 1);
}


.FEATURES-exit-active {

    transform: translateX(-1000);
    transition: all .2s cubic-bezier(0.37, 0, 0.63, 1);
    position: absolute;
  
}



.PLAN-enter {

    transform: rotate(90deg);
    
}

.PLAN-enter-active {

    transform: rotate(0);
    transition: transform 1s cubic-bezier(0.87, 0, 0.13, 1);
}


.PLAN-exit-active {

    transform: translateX(1000px);
    transition: all   .2s cubic-bezier(0.37, 0, 0.63, 1);
    position: absolute;
  
}




.BACKGROUND-enter {

    transform: scale(.2);
    
}

.BACKGROUND-enter-active {

    transform: scale(1);
    transition: transform 1s cubic-bezier(0.87, 0, 0.13, 1);
}


.BACKGROUND-exit-active {

    transform: translateX(1000px);
    transition: all   .5s cubic-bezier(0.37, 0, 0.63, 1);
    position: absolute;
  
}


.ALERT-enter {
   
    transform: translateX(-50px);
    opacity: 0;
   
    
}

.ALERT-enter-active {

    transform: translateX(0);
    opacity: 1;
   
    transition: all 3s cubic-bezier(0.87, 0, 0.13, 1);
    

}


.ALERT-exit-active {
      
    transform: translateX(5000px);
    position: absolute;
    transition: all 3s cubic-bezier(0.87, 0, 0.13, 1);
    position: absolute;
  
}






